body{
    margin: auto;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.header{

    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 162px;
        background-color: #D3D3D3;

        .header-logo{
            a{
                text-decoration: none;
                color: #000000;
            }
        }
    
        .header-menu{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 70%;
            list-style: none;
            padding: 0;
        
            li {
                position: relative;
                margin-right: 35px;
                a{
                    text-decoration: none;
                    color: #000000;
                }

                .dropdown {
                    list-style: none;
                    padding: 30px;
                    margin: 0;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    background: #FFFAFA;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                    display: none;
                    min-width: 150px;
                    z-index: 1000;


                    li {
                        padding-bottom: 8px;
                        position: relative;

                        p{
                            color: #808080;
                        }

                        ul{
                            list-style: none;
                        }
                    }
                }
            }

            li:hover > .dropdown {
                display: block;
            }
        }

        .user-actions{
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 10%;
            list-style: none;
            padding: 0;

            a{
                text-decoration: none;
            }
        }
    }
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 162px;
    background-color: #808080;
    
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;

        .footer-logo{
            a{
                text-decoration: none;
                color: #000000;
            }
        }

        .footer-links{
            display: flex;
            justify-content: flex-end;
            width: 90%;
            flex-direction: row;

            .footer-column {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 15%;

                ul{
                    list-style-type: none;
                    padding: 0;

                    li{
                        margin-bottom: 15px;
                        text-align: center;
                        a{
                            text-decoration: none;
                            color: #FFFAFA;
                        }
                    }
                }
            }
        }
    }

    .footer-copyright{
        display: flex;
        justify-content: center;

        p{
            color: #FFFAFA;
            opacity: 60%;
        }
    }
}


.gender-links {
    width: 70%;
    margin: 50px auto;

    .gender-grid{
        display: flex;
        justify-content: space-evenly;

        a {
            text-decoration: none;
        }
    }
}

.promo-banner {
    position: relative;
    display: flex;
    width: 80%;
    margin: 155px auto;

    img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
    }

    .promo-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        color: #000000;
        font-size: 5rem;
        font-weight: regular;
        text-align: center;
    }
}
