body{
    margin: auto;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.header{

    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 162px;
        background-color: #D3D3D3;

        .header-logo{
            a{
                text-decoration: none;
                color: #000000;
            }
        }
    
        .header-menu{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 70%;
            list-style: none;
            padding: 0;
        
            li {
                position: relative;
                margin-right: 35px;
                a{
                    text-decoration: none;
                    color: #000000;
                }

                .dropdown {
                    list-style: none;
                    padding: 30px;
                    margin: 0;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    background: #FFFAFA;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                    display: none;
                    min-width: 150px;
                    z-index: 1000;


                    li {
                        padding-bottom: 8px;
                        position: relative;

                        p{
                            color: #808080;
                        }

                        ul{
                            list-style: none;
                        }
                    }
                }
            }

            li:hover > .dropdown {
                display: block;
            }
        }

        .user-actions{
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 10%;
            list-style: none;
            padding: 0;

            a{
                text-decoration: none;
            }

            /* Модальное окно */
            .login-modal {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #fff;
                padding: 50px 167px;
                border: 4px solid #FFE4C4;
                border-radius: 5px;
                max-width: 600px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                z-index: 1000;

                .modal-content {
                    background: #fff;
                    border-radius: 5px;

                    .auth-form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                    }

                    .auth-form input {
                        width: 90%;
                        margin: 15px 0;
                        padding: 14px 30px;
                        border: 3px solid #808080;
                        border-radius: 5px;
                        font-size: 1.2em;
                    }

                    .auth-form input[type="text"],
                    .auth-form input[type="email"],
                    .auth-form input[type="tel"],
                    .auth-form input[type="password"] {
                        background-color: #fff;
                        border: 3px solid #808080;
                    }

                    .auth-form input[type="text"]::placeholder,
                    .auth-form input[type="email"]::placeholder,
                    .auth-form input[type="tel"]::placeholder,
                    .auth-form input[type="password"]::placeholder {
                        color: #808080;
                    }

                    
                    #birthdateInput {
                        width: 40%;
                        background-image: url('../images/icon/calendar.svg');
                        background-repeat: no-repeat;
                        background-position: right 19px center;
                    }

                    /* Кнопки */
                    .auth-form button {
                        padding: 10px 25px;
                        margin: 15px 0;
                        background-color: #808080;
                        color: #fff;
                        font-size: 1em;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;
                    }

                    .auth-form button:hover {
                        background-color: #FFE4C4;
                        color: #000000;
                    }

                    /* Закрытие кнопки */
                    .close-btn {
                        position: absolute;
                        top: 10px;
                        right: 15px;
                        font-size: 40px;
                        cursor: pointer;
                    }

                    .hidden {
                        display: none;
                    }
                }
            }

            /* Скрытие модалки */
            .hidden {
                display: none;
            }

        }
    }
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 162px;
    background-color: #808080;
    
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;

        .footer-logo{
            a{
                text-decoration: none;
                color: #000000;
            }
        }

        .footer-links{
            display: flex;
            justify-content: flex-end;
            width: 90%;
            flex-direction: row;

            .footer-column {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 15%;

                ul{
                    list-style-type: none;
                    padding: 0;

                    li{
                        margin-bottom: 15px;
                        text-align: center;
                        a{
                            text-decoration: none;
                            color: #FFFAFA;
                        }
                    }
                }
            }
        }
    }

    .footer-copyright{
        display: flex;
        justify-content: center;

        p{
            color: #FFFAFA;
            opacity: 60%;
        }
    }
}


.gender-links {
    margin: 50px auto;

    .gender-grid{
        display: flex;
        justify-content: space-evenly;

        a {
            text-decoration: none;
        }
    }
}

.promo-banner {
    position: relative;
    display: flex;
    width: 80%;
    margin: 155px auto;

    img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
    }

    .promo-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        color: #000000;
        font-size: 5rem;
        font-weight: regular;
        text-align: center;
    }
}


.profile {
    max-width: 500px;
    margin: 60px auto;
    padding: 40px;
    background-color: #FFFAFA;
    border: 3px solid #FFE4C4;
    border-radius: 5px;
    text-align: center;

    input {
        width: 80%;
        margin: 15px 0;
        padding: 14px 30px;
        border: 3px solid #808080;
        border-radius: 5px;
        font-size: 1.1em;
        background-color: #fff;
    }

    button {
        margin-top: 10px;
        padding: 10px 25px;
        font-size: 1em;
        background-color: #808080;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #FFE4C4;
        color: #000;
    }
    
    .hidden {
        display: none;
    }
}


.contact-info,
.feedback-form,
.faq-section{
    margin: 50px 160px;

    .info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .faq{
        .category-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
        }
          
        .category-toggle.active + .category-content {
            max-height: 1000px;
        }          
        .category-toggle{
            border:none;
            background-color: inherit;
            font-size: 1.1em;
            font-family: 'Merriweather', sans-serif;
        }

        .category-toggle:hover{
            color: #808080;
        }

        .faq-item{
            margin: 30px 0;

            .faq-question,
            .faq-answer{
                margin: 10px 0;

                display: flex;
                align-items: center;

                img{
                    margin-right: 30px; 
                }
            }
        }
    }
}

.feedback-form{
    form{
        max-width: 500px;
        margin: 60px auto;
        padding: 40px;
        background-color: #FFFAFA;
        border: 3px solid #FFE4C4;
        border-radius: 5px;
        text-align: center;

        input {
            width: 50%;
            margin: 15px 0;
            padding: 14px 30px;
            border: 3px solid #808080;
            border-radius: 5px;
            font-size: 1.1em;
            background-color: #fff;
        }

        textarea{
            width: 80%;
            margin: 15px 0;
            padding: 14px 30px;
            border: 3px solid #808080;
            border-radius: 5px;
            font-size: 1.1em;
            background-color: #fff;
        }
    
        button {
            margin-top: 10px;
            padding: 10px 25px;
            font-size: 1em;
            background-color: #808080;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    
        button:hover {
            background-color: #FFE4C4;
            color: #000;
        }
    }
    
}

.catalog-wrapper{
    display: flex;
    flex-direction: row;
    margin: 50px 162px;


    .filter-sidebar{
        form{
            
            h4{
                color: #808080;
            }

            .category-filter{
                padding: 0 30px;

                
            }

            ul{
                list-style: none;
                padding-left: 0;
                margin-left: 0;

                
                li label {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: space-between;

                    margin-bottom: 10px;
                }

                .checkbox-wrapper input[type="checkbox"] {
                    appearance: none;
                    -webkit-appearance: none;
                    width: 24px;
                    height: 24px;
                    border: 3px solid #000;
                    border-radius: 4px;
                    background-color: #fff;
                    cursor: pointer;
                    position: relative;
                }
                
                .checkbox-wrapper input[type="checkbox"]::before {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 6px;
                    width: 5px;
                    height: 10px;
                    border: solid #000;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                    opacity: 0;
                    transition: opacity 0.2s ease;
                }
                
                .checkbox-wrapper input[type="checkbox"]:checked::before {
                    opacity: 1;
                }


            }

            button{
                margin-top: 10px;
                padding: 9px 20px;
                font-size: 1em;
                background-color: #FFE4C4;
                color: #000;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            
            button:hover {
                background-color: #808080;
                color: #fff;
            }
        }        
    }
    
    .product-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        width: 90%;

        margin-top: 20px;

        .product-card{
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 260px;
            min-height: 469px;
            max-height: 500px;

            border-radius: 5px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

            .product-favorite{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                width: 90%;

                .favorite-btn{
                    background-color: inherit;
                    padding: 0;
                }

            }

            .product-image {
                width: 248px;
                height: 248px;
                border-radius: 5px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f5f5f5;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    } 
            }

            .product-info{
                text-align: center;

                .subcategory{
                    color: #808080;
                }
            }
              
                           

            button {
                margin-top: 10px;
                padding: 14px 30px;
                font-size: 1em;
                background-color: #FFE4C4;
                color: #000;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        
            button:hover {
                background-color: #808080;
                color: #fff;
            }
        }
    }
}

